<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>com.organissembly.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s2</servlet-name>
    <servlet-class>com.organissembly.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s3</servlet-name>
    <servlet-class>com.organissembly.controller.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s3</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s4</servlet-name>
    <servlet-class>com.organissembly.controller.OrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s4</servlet-name>
    <url-pattern>/org</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s5</servlet-name>
    <servlet-class>com.organissembly.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s5</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s6</servlet-name>
    <servlet-class>com.organissembly.controller.AddOrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s6</servlet-name>
    <url-pattern>/add_org</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s7</servlet-name>
    <servlet-class>com.organissembly.controller.UpdateOrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s7</servlet-name>
    <url-pattern>/update_org</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s8</servlet-name>
    <servlet-class>com.organissembly.controller.AddMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s8</servlet-name>
    <url-pattern>/member_apply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s9</servlet-name>
    <servlet-class>com.organissembly.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s9</servlet-name>
    <url-pattern>/members</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s10</servlet-name>
    <servlet-class>com.organissembly.controller.ApplicantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s10</servlet-name>
    <url-pattern>/applicants</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s11</servlet-name>
    <servlet-class>com.organissembly.controller.AcceptMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s11</servlet-name>
    <url-pattern>/accept_member</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s12</servlet-name>
    <servlet-class>com.organissembly.controller.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s12</servlet-name>
    <url-pattern>/events</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s13</servlet-name>
    <servlet-class>com.organissembly.controller.AddEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s13</servlet-name>
    <url-pattern>/add_event</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s14</servlet-name>
    <servlet-class>com.organissembly.controller.UpdateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s14</servlet-name>
    <url-pattern>/update_event</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s15</servlet-name>
    <servlet-class>com.organissembly.controller.AnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s15</servlet-name>
    <url-pattern>/announcements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s16</servlet-name>
    <servlet-class>com.organissembly.controller.AddAnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s16</servlet-name>
    <url-pattern>/add_announcement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s17</servlet-name>
    <servlet-class>com.organissembly.controller.UpdateAnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s17</servlet-name>
    <url-pattern>/update_announcement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s18</servlet-name>
    <servlet-class>com.organissembly.controller.RegistrantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s18</servlet-name>
    <url-pattern>/participants</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s19</servlet-name>
    <servlet-class>com.organissembly.controller.AddRegistrantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s19</servlet-name>
    <url-pattern>/event_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s20</servlet-name>
    <servlet-class>com.organissembly.controller.UpdateSingleRegistrantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s20</servlet-name>
    <url-pattern>/update_attendee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s21</servlet-name>
    <servlet-class>com.organissembly.controller.UpdateAllRegistrantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s21</servlet-name>
    <url-pattern>/update_all</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s22</servlet-name>
    <servlet-class>com.organissembly.controller.MerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s22</servlet-name>
    <url-pattern>/merch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s23</servlet-name>
    <servlet-class>com.organissembly.controller.AddMerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s23</servlet-name>
    <url-pattern>/add_merch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s24</servlet-name>
    <servlet-class>com.organissembly.controller.UpdateMerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s24</servlet-name>
    <url-pattern>/update_merch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s25</servlet-name>
    <servlet-class>com.organissembly.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s25</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s26</servlet-name>
    <servlet-class>com.organissembly.controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s26</servlet-name>
    <url-pattern>/add_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s27</servlet-name>
    <servlet-class>com.organissembly.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s27</servlet-name>
    <url-pattern>/update_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s28</servlet-name>
    <servlet-class>com.organissembly.controller.RejectMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s28</servlet-name>
    <url-pattern>/reject_member</url-pattern>
  </servlet-mapping>
</web-app>